{% extends 'cliente/cliente_menu.html' %}

{% block contenido_2 %}

<h1>Formulario de Registro de Vehículo</h1>
<form action="" method="post">
    <div class="cont_partes">
        <div class="part1">
            <label for="">buscar cliente por:</label>
            <button type="button" onclick="busq_empresa()">Empresa</button>
            <button type="button" onclick="busq_persona()">Persona</button>

            <div id="resultado"></div>
            <div id="resultado2"></div>
        </div>
        <div class="part2">
            <label for="placa">Placa:</label>
            <input type="text" id="placa" name="placa" required><br><br>

            <label for="id_tipo_vehiculo">Tipo de Vehículo:</label>
            {{ select_tipo_vehiculo | safe }}
            <br><br>

            <label for="id_marca">Marca:</label>
            {{ select_marca | safe }}
            <br><br>
        </div>
    </div>
    <input type="submit" value="Registrar Vehículo">

</form>

<style>
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        margin-top: 30px;
        border-radius: 1.2rem;
        width: 90%;
        padding: 20px;
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.4);
        transition: all 0.3s ease;
    }

    .cont_partes {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 30px;
        width: 100%;
    }
</style>

<script>
    var $resultado = $("#resultado");
    function busq_empresa() {
        $($resultado).html(`
            <input type="text" id="nit" placeholder="nit" required><br>
            <button type="button" onclick="ajax_busq_empresa()">buscar</button>
        `);
        $("#resultado2").empty();
    }
    function busq_persona() {
        $($resultado).html(`
            <input type="text" id="nro_ci" placeholder="nro_ci" required><br>
            <button type="button" onclick="ajax_busq_persona()">buscar</button>
        `);
        $("#resultado2").empty();
    }

    function ajax_busq_empresa() {
        var $input = $("#nit").val();
        var check_name = 'id_cliente'
        var $tabla = $("#resultado2")
        $.ajax({
            url: "/buscar_ajax/busq_clienteEmpresa",
            method: "POST",
            data: { busqueda: $input },
            success: function (response) {
                var columnas = response[0];
                var datos = response.slice(1);
                generarTablaHTML($tabla, columnas, datos, check_name)

            }
        });
    }
    function ajax_busq_persona() {
        var $input = $("#nro_ci").val();
        var check_name = 'id_cliente'
        var $tabla = $("#resultado2")
        $.ajax({
            url: "/buscar_ajax/busq_clientePersona",
            method: "POST",
            data: { busqueda: $input },
            success: function (response) {
                var columnas = response[0];
                var datos = response.slice(1);
                generarTablaHTML($tabla, columnas, datos, check_name)

            }
        });
    }

</script>
{% endblock %}