:root {
    --color-fondo: #494646;
    --color-borde: #333;
    --color-texto: #fff;
}

body{
    background-color: #222;
}

.contenido-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-logo {
    flex: 1;
}

.login-logo img {
    max-width: 100%;
}

.login-form {
    display: flex;
    justify-content: center;
    flex: 1;
}

.login-form form {
    padding: 20px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    background-color: var(--color-fondo);
    width: 350px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--color-texto);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    background-color: var(--color-fondo);
    color: var(--color-texto);
}

.login-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: #0056b3;
}
